.desktopFilters {
    background-color: white;
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    z-index: 10;
    padding: 5%;
}

.desktopFilters_top {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.desktopFilters_top_location {
    width: 30%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(175 175 175);
    border-radius: 20px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desktopFilters_top_location>h2 {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.desktopFilters_top_location>span {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    cursor: text;
}


.desktopFilters_top_guests {
    width: 30%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(175 175 175);
    border-radius: 20px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desktopFilters_top_guests>h2 {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.desktopFilters_top_guests>span {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    cursor: text;
}

.desktopFilters_top_search {
    width: 30%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(175 175 175);
    border-radius: 20px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktopFilters_top_search>button {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EB5757;
    border: 1px solid #EB5757;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.desktopFilters_top_search>button>svg {
    font-size: 20px;
}

.desktopFilters_bottom {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
}

.desktopFilters_bottom_location {
    width: 30%;
}

.desktopFilters_bottom_location>ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.desktopFilters_bottom_location>ul>li {
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


.desktopFilters_bottom_guests {
    width: 60%;
}

.desktopFilters_bottom_guests_adult {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.desktopFilters_bottom_guests_adult>h2 {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.desktopFilters_bottom_guests_adult>span {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.desktopFilters_bottom_guests_adult_editBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 20px;
}

.desktopFilters_bottom_guests_adult_editBox>button {
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.desktopFilters_bottom_guests_adult_editBox>span {
    color: black;
    font-size: 18px;
    font-weight: 600;
}







.desktopFilters_bottom_guests_children {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.desktopFilters_bottom_guests_children>h2 {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.desktopFilters_bottom_guests_children>span {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.desktopFilters_bottom_guests_children_editBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 20px;
}

.desktopFilters_bottom_guests_children_editBox>button {
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border: 0;
    cursor: pointer;
}

.desktopFilters_bottom_guests_children_editBox>span {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.mobileFilters {
    display: none;
}

/* Design for <= 1000px devices */
@media screen and (max-width:1000px) {

    .desktopFilters {
        display: none;
    }

    .mobileFilters {
        display: block;
        background-color: white;
        position: fixed;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        top: 0;
        z-index: 10;
        padding: 5%;
    }

    .mobileFilters_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobileFilters_heading>h2 {
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    .mobileFilters_heading>svg {
        color: black;
        font-size: 20px;
    }

    .mobileFilters_top {
        margin: 5% 0 10% 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
    }

    .mobileFilters_top_location {
        width: -webkit-fill-available;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgb(175 175 175);
        border-radius: 20px;
        height: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mobileFilters_top_location>h2 {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    .mobileFilters_top_location>span {
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
        cursor: text;
    }

    .mobileFilters_top_guests {
        width: -webkit-fill-available;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgb(175 175 175);
        border-radius: 20px;
        height: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mobileFilters_top_guests>h2 {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    .mobileFilters_top_guests>span {
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
        cursor: text;
    }

    .mobileFilters_bottom_location>ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
        padding-left: 5%;
    }

    .mobileFilters_bottom_location>ul>li {
        color: black;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    .mobileFilters_bottom_guests {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 60px;
    }


    .mobileFilters_bottom_guests_adult {
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .mobileFilters_bottom_guests_adult>h2 {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    .mobileFilters_bottom_guests_adult>span {
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
    }

    .mobileFilters_bottom_guests_adult_editBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        gap: 20px;
    }

    .mobileFilters_bottom_guests_adult_editBox>button {
        color: black;
        font-size: 18px;
        font-weight: 600;
        background-color: white;
        border: 0;
        cursor: pointer;
    }

    .mobileFilters_bottom_guests_adult_editBox>span {
        color: black;
        font-size: 18px;
        font-weight: 600;
    }






    .mobileFilters_bottom_guests_children {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .mobileFilters_bottom_guests_children>h2 {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    .mobileFilters_bottom_guests_children>span {
        color: #4F4F4F;
        font-size: 14px;
        font-weight: 500;
    }

    .mobileFilters_bottom_guests_children_editBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        gap: 20px;
    }

    .mobileFilters_bottom_guests_children_editBox>button {
        color: black;
        font-size: 18px;
        font-weight: 600;
        background-color: white;
        border: 0;
        cursor: pointer;
    }

    .mobileFilters_bottom_guests_children_editBox>span {
        color: black;
        font-size: 18px;
        font-weight: 600;
    }



}