.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* esto es una propiedad de CSS Grid que puede ser útil para espaciar los elementos */
    padding: 16px;
    background-color: #e8e5e5;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.filters__button {
    background-color: #ff38db;
    color: #000000;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    min-width: 150px;
    max-width: 250px;
    width: 10%;
    height: 10%;
    overflow: hidden;
}

/*Icono para cerrar*/
.filters__close {
    color: #000000;
    font-size: 36px;
    cursor: pointer;
}
/*Opciones*/
.filters__options{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .filters {
        flex-direction: column;
        /* hace que los elementos se muestren uno debajo del otro en pantallas pequeñas */
    }
}