.Header {
    padding: 2% 5%;
    background-color: rgb(183, 183, 183);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Header_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: inset 0 0 0 1px #EB5757;

}

.Header_search>h2 {
    font-size: 15px;
    font-weight: 500;
    padding: 20px 15px;
    color: #BDBDBD;
}

.Header_search_location {
    color: black;
    cursor: pointer;
}

.Header_search_guests {
    color: #BDBDBD;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    cursor: pointer;
}

.Header_search>svg {
    padding: 10px 15px;
    color: #EB5757;
    font-size: 20px;
    cursor: pointer;
}


/* Design for <= 600px devices */
@media screen and (max-width:600px) {

    .Header {
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
    }

    .Header>img {
        margin-right: auto;
        width: 160px;
    }

    .Header_search {
        width: -webkit-fill-available;
        justify-content: space-between;
        align-items: center;
    }

    .Header_search>h2 {
        padding: 20px;
        flex: 1 1 auto;
    }

    .Header_search>svg {
        padding: 10px 20px;
        flex: 1 1 auto;
    }

    .Header_search_location,
    .Header_search_guests {
        text-align: center;
        flex: 1 1 auto;
    }

}