.list_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.list_top_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

h1{
    font-size: 24px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    color: #000000;
}

h2{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    color: #000000;
}